html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  background-color: #f7f7f7;
}

h1 {
  margin: 0;
}

figure {
  display:flex;
  justify-content: center;
}

figcaption {
  display:flex;
  justify-items: center;
}

figure img {
  border-radius: 100px;
}

.footer {
  
}