html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e2e8f0;
    color:#444;
}

.container {
    text-align: center;
}

.header {
    background-color: #fff;
    box-shadow: 0 0px 5px rgb(0 0 0 / 40%);
    padding: 30px 0;
}

.main-container {
    width: 70vw;
    margin: 5rem auto;
    max-width: 450px;
    background: #fff;
    border-radius: 0.25rem;
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}

.person-container {
    margin: 40px;
}

.person {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 20px;
}

.person-details {
    margin-left: 25px;
    text-align: left;
}

.person-details h3 {
    line-height: 10px;
    font-size: 17px;
}

.person-details h4 {
    line-height: 10px;
    font-size: 15px;
    font-weight: 600;
}

h1, h2 {
    margin: 0;
}

figure {
    display: flex;
    justify-content: center;
}

figcaption {
    display: flex;
    justify-items: left;
}

article img {
    border-radius: 100px;
    width: 80px;
    height: 80px;
}